body {
    font-family: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-size: 1.65rem;
    line-height: 1.60em;
}

.below-unit {
    display: inline-block;
    height: 25px;
    line-height: 0;
}
